
#btns{
    display: flex;
    justify-content: space-between;
    margin-top: -9rem;
}

.custom-file{
   margin-top: 1rem;
}

.sticky {
    position: sticky;
    top: .1px; /* When the element reaches top: 10px, it becomes fixed. */
    z-index: 100;
  }

.navbar{
    position: sticky;
}




